.react-datepicker-popper {
    z-index: 9999;
}

.react-datepicker {
    font-size: 1.2rem;
}

.react-datepicker__current-month {
    font-size: 1.2rem;
}

.react-datepicker__day {
    width: 2rem;
    line-height: 2rem;
}