name: Node CI

on: push

jobs:
  test:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@master
    - name: Set up Node.js 14
      uses: actions/setup-node@v1
      with:
        node-version: 14
    - name: Node.js Test Suite
      # Note CI=false is required to prevent script from terminating with error
      # on warnings. This is the intended behaviour of `build` and the
      # recommended solution, despite how stupid it seems:
      # https://github.com/facebook/create-react-app/issues/3657
      run: |
        npm install
        CI=false npm run build
        npm test
